
body {
    background: pink;
    color: black; 
    margin: 0;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    /* font-size: 70px; */
    font-size:400%;
    margin: 1% 0; 
}
.desc {
    /* font-size: 45px; */
    font-size: 300%;
    text-align: center;
    margin: 1% 0; ;
}
#choice {
    opacity: 0;
    font-size: 300%;
    /* font-size: 50px; */
    font-weight: bold;
    transform: translateY(-100px);
    text-align: center;
    margin: 2% 0; 
}
#button-container {
    display: flex;
    justify-content: center; 
}
.button {
    /* width: 200px;
    height: 200px;  */
    padding: 2%; 
    width: 7%; 
    border: 1px solid black; 
    margin: 1% 1%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}
.button img {
    width: 120%; 
}
.button:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 20px 1px;
}
#results-container,
#score-container,
#score-label {
    display: flex;
    justify-content: center;
    font-size: 200%;
}
#score-label {
    height: 20%; 
}
.score,
.label {
    padding: 0 2%; 
    margin: 1% 0; 
}

#game-container {
    opacity: 0; 
    pointer-events: none;
}
span {
    opacity: 0; 
    transition: all 1s ease;
}
.fade {
    opacity: 1; 
}
#desc1.fade-out, 
#desc2.fade-out, 
#desc3.fade-out,
.fade-out {
    animation-name: fade-out; 
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0; 
    }
}
#desc1.skip-anime, 
#desc2.skip-anime, 
#desc3.skip-anime {
    animation: fade-out;
    animation-duration: 0;
}

#choice.drop-down {
    animation-name: drop-down;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.58, 0.3, 0.49, 1.39);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drop-down {
    from {
        opacity: 0;
        transform: translateY(-150px);
        pointer-events: none;
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
    }
}

#game-container.fade-in {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        pointer-events: none;
    } 
    to {
        opacity: 1;
        pointer-events: all;
    }
}
span.skip {
    transition: all 0.1s cubic-bezier(0, 1.4, 0.45, 0.89);
}
.skipBtn.disappear,
.final-result.disappear,
main.disappear,
lottie-player.disappear,
.disappear {
    display: none;
}

.skipBtn {
    position: absolute;
    bottom: 7%;
    right: 5%;
    font-size: 125%;
    height: 7%;
    width: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 0 20px 1px;
}

.skipBtn:hover{
    transform: scale(1.2);
}

.final-result {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 50px; */
    font-size: 300%;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 20%;
}
lottie-player {
    margin: 0 auto;
}
